.carousel-image::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: inline-block;
    border-radius: 12px;
    background: linear-gradient(to right, #151515 0%, rgba(41, 35, 35, 0) 100%);
}