.App {
  text-align: center;
}
.active {
  background-color: #a6a6dd78;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.carousel .thumbs-wrapper {
  margin: 20px;
  overflow: hidden;
  visibility: hidden !important;
}
.carousel-status {
  visibility: hidden !important;
}
.modal-box {
  border-radius: 0px !important;
}
.input-disabled,
.input[disabled] {
  background-color: #e5e7eb !important;
  border: 1px solid #e5e7eb !important;
  border-radius: 4px;
  color: #b2b2b3;
  font-weight: 500;
}
.input {
  border-radius: 4px !important;
  border: 1px solid #e5e7eb !important;
}
